.body{
   
    background-color: #FFFFFF;
}
*{
    font-family: 'Poppins', sans-serif;
    /* padding: 0; */
    margin: 0;
}
.container{
    width: 1312px;
}
/* head */
.main-head{
    margin: 5%;
}
nav {
    display: flex;
    justify-content: space-between;
}

h2.like-logo {
    font-size: 35px;
    font-family: 'Poppins', sans-serif;
    margin: 0;
}

ul.manu li {
    padding-left: 35px;
    list-style: none;
    display: inline-block;
}

ul.manu li a {
    text-decoration: none;
    color: black;
    font-size: 18px;
}
/* <!-- first step --> */
.blogs {
    display: flex;
    margin: 5%;
    justify-content: space-between;
}
.blog {
    width: 50%;
    margin-top: 60px;
}
.image-width {
    border: 2px solid gray;
    border-radius: 50%;
}
h1.h1 {
    margin: 0;
    font-size: 50px;
}
h1.h1 {
    margin: 0;
    font-size: 50px;
    font-weight: 700;
}
p {
    font-size: 19px;
    margin-bottom: 40px;
}
a.btn {
    text-decoration: none;
    background-color: #E02C6D;
    color: white;
    padding: 8px 15px;
    border-radius: 20px;
    font-weight: 500;
    margin-top: 15px;
}
.secend-step{
    margin-right: 8%;
    /* margin: 5%; */
    margin-left: 8%;
}
/* 3rdstep */
.company-logo{
    border-top: 1px solid gray;
    border-bottom: 1px solid gray;
    padding-top: 30px;
    padding-bottom: 30px;
}


img.img {
    /* width: 8%; */
    /* display: inline-block; */
    padding-left: 60px;
}

/* 4th step Popular Collection */
/* .collection{
    margin-top: 30px;
}
h2.pop-cl {
    text-align: center;
    font-size: 32px;
}
.collection {
    margin: 8%;
    grid-template-columns: repeat(3, 1fr);
    display: inline-block;
    
}
p.str i {
    font-size: 10px;
    color: red;
}
.Flex {
    background-color: #e1e0e0;
    width: 30%;
}
.ex-div{
    padding-left: 15px;
    padding-bottom: 5px;
}
img {
    margin: 18px;
    margin-bottom: 0;
} */
.top-blogs{
    margin: 8%;
}
.p-c{
    text-align: center;
    margin-top: 50px;
}
.collections{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    margin-top: 45px;
}
h5 {
    font-size: 22px;
    margin: 0;
}
.collection-author {
    color: orange;
    font-size: 12px;
}
p.c-p {
    font-size: 15px;
}
.collection {
    background-color: #f3eeee;
    padding:35px;
    border: 3px solid white;
}
.see-more{
    color: #E02C6D;
    float: right;
    margin-top: 30px;
}

/* Featured products  */
.last-step{
    margin: 8%;
    margin-top:12% ;
}
.Featured-products{
    display: flex;
}
.featured {
    margin-left: 8%;
    margin-top: 6px;
}
.tilee{
    font-size: 39px;
}
/* footer side */
.footer{
    background-color: black;
    padding: 32px;
}
.influn{
    text-align: center;
    color: white;
}
.copyright{
    text-align: center;
    color: white;
    font-size: 15px;
    margin-bottom: 20px;
}
.icon i{
    color: white;
    text-align: center;
    padding-left: 10px;
    width: 25px;
    font-size: 18px;
  
}
.icon {
    text-align: center;
}
/*----------------
        media 
 --------------- */
 @media only screen and (max-width:688px) {
     .container{
         width: 688px
     };
    .main-head{
        margin: 2%;
    }
    h2.like-logo{
        font-size: 25px;
        text-align: center;
    }
    ul.manu li a{
        display: none;
    }
    .h1{
        font-size: 22px;
    }
    .blogs {
        display: block;
        margin: 5%;
    }
    .blog {
        margin-top: 10px;
    }
    .image-width {
        width: 50%;
        border: none;
    }
        .collections{
            grid-template-columns: repeat(1, 1fr);
        }
        .Featured-products{
            display: block;
        }

 }